body,html{
    background-color: antiquewhite;
    text-align: center;
    position: absolute;
    left: 28%;
}
#cards{
    width: 600px;
    height: 50vh;
    margin: 50px 0 0 0px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.inner{
    width: 170px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid red;
    margin: 20px;
    background-color: blanchedalmond;
}
.btn1{
    color:white; 
    background-color:rgb(8, 54, 110); 
    margin: 50px 50px 0 40px; 
    border:none; 
    border-radius:5mm; 
    width:150px; 
    height:40px;
    cursor: pointer;
}
.btn2{
    color:white; 
    margin-bottom: 50px; 
    background-color:rgb(8, 54, 110); 
    border:none; 
    border-radius:5mm; 
    width:150px; 
    height:40px; 
    margin-left: 30px;
    cursor: pointer;
}
.btn1:active, .btn2:active{
    background-color: rgb(255, 0, 0);
}
.btn3{
    color:rgb(0, 0, 0); 
    margin: 40px; 
    background-color:rgb(245, 152, 32); 
    border:none; 
    border-radius:5mm; 
    width:150px; 
    height:40px; 
    cursor: pointer;
    
}
.btn3:active{
    background-color: blue;
}
#main{
    width: 400px;
    height: 100px;
    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.box1{
    width: 70px;
    height: 60px;
    margin: 20px;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: rgb(240, 169, 76);
    text-align: center;
    font-weight: bold;
}
.span0{
    font-weight: bold;
    
}
select{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 212, 212);
    border: none;
    margin-bottom: 20px;
    text-align: center;
}
.btn4{
    color:rgb(0, 0, 0); 
    margin: 5px 0 20px 00px; 
    background-color:rgb(245, 152, 32); 
    border:none; 
    border-radius:5px; 
    width:100px; 
    height:30px; 
    cursor: pointer; 
}
input{
    background-color:rgb(225, 203, 245);
    border-left:none; border-right:none;
    border-bottom:groove; 
    border-top:none; 
    width:340px; 
    height:30px;
}
.btn5{
    color:white; 
    background-color:rgb(8, 54, 110); 
    border:none; 
    border-radius:20px; 
    width:340px; 
    height:40px;
    margin-bottom: 50px;
}